#preview-area table {
    padding: 0;
    margin: 0;
    padding-top: 0px;
}

#preview-area table:not([data-code-block-table="true"]) th {
    border-color: black;
}

#preview-area table:not([data-code-block-table="true"]) td {
    border-color: black;
    padding: 2px 6px;
}

#preview-area table td pre {
    margin: 0;
    background-color: initial;
    padding: 0;
    padding-top: 0px;
}

#preview-area p code {
    font-weight: bold;
    background-color: #DDD;
}